<html>
    <head>
        <title>
            ChatBot
        </title>
    </head>
    <body style="background-image: url(https://blog-assets.freshworks.com/freshdesk/wp-content/uploads/2018/08/Header_gif_assembly-1.gif); background-size: cover;">
        
    </body>
</html>