<html>
    <head>
        <title>
            ChatBot
        </title>
    </head>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
    <body>
        <br>
        <a href="https://t.me/Sansare_Chatbot">
            <button type="button" class="btn btn-danger btn-large">
                Go to ChatBot
            </button>
        </a>
    </body>
</html>